body{                             /* to style body */
	background-color: #fafcfb;
	margin-left:45px;
	margin-right:78px;
    font-family: Times New Roman, sand-serif;
	font-size:20px;
	color: Black;
	border:2px solid;
	padding:30px;
}

h1{ margin-top: 50px;
    color: rgb(219, 17, 17);
	margin-left: 45px;
	margin-right:100px;
    font-family: Algerian;
    margin-bottom: 10px;
	text-align: Center;
	font-size: 50px;
}

h3{ margin-top: 50px;
    color: Blue;
	margin-left: 45px;
	margin-right:100px;
    font-family: Algerian;
    margin-bottom: 10px;
	text-align: Center;
	font-size: 25px;
}

div{
	Background-color:rgb(207, 194, 194);
	width:97%;
	border: 1px Black;
	padding: 10px;
	margin: 20px;
}

h2{
	color:Blue;
	margin-left: 45px;
	margin-right:100px;
    font-family: Times New Roman, sand-serif;
    margin-bottom: 10px;
	font-size:30px;
}

p{
	color:Black;
	margin-left: 45px;
	margin-right:55px;
	font-family: Times New Roman, sand-serif;
	font-size:20px;
	text-align: justify;
}


h4{
	color:Black;
	margin-left: 45px;
	margin-right:100px;
    font-family: Times New Roman, sand-serif;
    margin-bottom:10px;
}

table, td, th {
  border: 1px solid Black;
  margin-left: 45px;
  text-align: center;
}
table{
	width: 90%;
	border-collapse: collapse;
}
	
nav {
	color: Blue;
	text-align: Center; 
	width: 100%;
}

.button {
	background-color: white; 
  color: black; 
  padding:13px 24px;
  text-align: center;
  border: 3px solid #4CAF50;
}
  